<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top">
    <div class="container-fluid">
        <div class="navbar-wrapper">
            <a class="navbar-brand" href="javascript:void(0)">{{ getTitle() }}</a>
        </div>
        <button mat-raised-button class="navbar-toggler" type="button" (click)="sidebarToggle()">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <form class="navbar-form">
                <div class="input-group no-border">
                    <input type="text" value="" class="form-control" placeholder="Search...">
                    <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
                        <i class="material-icons">search</i>
                        <div class="ripple-container"></div>
                    </button>
                </div>
            </form>
            <ul class="navbar-nav">
                <!-- Profile Dropdown -->
                <li class="nav-item dropdown" [class.show]="dropdownOpen">
                    <a class="nav-link dropdown-toggle d-flex align-items-center" href="javascript:void(0)" (click)="toggleDropdown()">
                        <img src="../../../assets/img/avatar.webp" alt="profile" class="rounded-circle" width="30" height="30">
                        <span class="ml-2" *ngIf="isLoggedIn">Hi, {{ username }}</span>
                        <i class="material-icons ml-1">person</i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" [class.show]="dropdownOpen">
                        <a class="dropdown-item" *ngIf="isLoggedIn" href="javascript:void(0)"
                            (click)="goToAccount()">Account</a>
                        <a class="dropdown-item" *ngIf="isLoggedIn" href="javascript:void(0)"
                            (click)="logout()">Logout</a>
                        <a class="dropdown-item" *ngIf="!isLoggedIn" href="javascript:void(0)"
                            (click)="login()">Login</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>